.container{

background-color: #B4BFEB;
height: 100%;
}

.estilomat{

font-size: 2rem;

color: #5D7876;
font-weight: bolder;
}

.estiloinput{

    font-size: 1rem;
    margin-top: 20px;
  
    }



    .boton{

       
        width: 200px;
        height: 50px;
         
      margin: 20px;

    }

