<div class="container">
<div>
    <div class="cabezerabanner">
        <h1> <span class="span1">THE </span> <span class="span2">HEALTH</span>
            <mat-icon class="iconomenu">list</mat-icon>
        </h1>
    </div>
    <div class="a">
        <h1 class="textB">IMMUNITY STRENGTHENING</h1>
    </div>
    <div class="a">
        <h1 class="textA">NUTRITION & HEALTH FOOD</h1>
    </div>
</div>
<div class="bodybanner" div fxLayout="row" >
    <div class="cerebro">

        <img src="../../assets/img/cerebro.png" class="imagencerebro">

    </div>
    <div class="bodytext">

        
            <h1 class="body1">MIND AND MOOD</h1>
            <h3>56 articles</h3>
            <mat-icon class="iconoflecha">arrow_right_alt</mat-icon>
        
    </div>
</div>
<div>
    <div class="a">
        <h1 class="textA">HEARTH HEALTH</h1>

        <h1 class="textB">FITNESS AND SPORT</h1>

    </div>
        <div class="d">
            <i class="icono ion-logo-facebook"></i>
            <i class="icono ion-logo-twitter"></i>
            <i class="icono ion-logo-instagram"></i>

            <mat-form-field appearance="outline" class="texto">
                <input matInput placeholder="Your Question">
                <span matSuffix class="ask">Ask</span>
            </mat-form-field>
        </div>
   
</div>

</div>